*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.flex{
    display: flex;
}

header{
    display: flex;
    flex-flow: row wrap;
}

.header-nav{
    height: 80px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 94, 233);
}

.nav-menu{
    width: 600px;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-menu a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

button{
    padding: 10px 15px;
    border: none;
    border-radius: 25px;
    background-color: white;
}

button:hover{
    box-shadow: 2px 2px 10px black;
    color: rgb(37, 94, 233);
    background-color: white;
}

.header-bio{
    height: 650px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    color: white;
    background-image: url("../img/jumbo.png");
    background-size: cover;
}

.header-bio-text{
    width: 980px;
    min-height: 75%;
    padding-top: 125px;
}

h1{
    font-size: 3.5rem;
    padding-bottom: 30px;
    font-weight: bolder;
}

h1 ~ p{
    font-size: 1.5rem;
    line-height: 40px;
}

.header-bio-text a{
    display: inline-block;
    font-size: 1.5rem;
    margin-top: 15px;
    padding: 20px 30px;
    border-radius: 50px;
    text-decoration: none;
    color: black;
    border: none;
    background-color: white;
}

.header-bio-text a:last-child{
    background-color: rgb(35, 34, 34);
    color: white;
    margin-left: 15px;
}

main section{
    height: 980px;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}

main section div{
    align-items: center;
    justify-content: center;
    height: 75%;
    width: 70%;
}

.div-large{
    width: 66.6%;
}

.img{
    width: 100%;
}

section h2{
    margin-top: 3rem;
    font-size: 3.5rem;
}

main section p{
    font-size: 1.35rem;
    line-height: 2.5rem;
    margin-top: 3.25rem;
}

.div-small{
    width: 33.3%;
}

.bottom-wave{
    filter: invert(0.95);
    align-self: flex-end;
    width: 100%;
}

.top-wave{
    filter: invert(0.95);
    align-self: flex-start;
    transform: rotateY(180deg) rotateX(180deg);
    width: 100%;
}

.grey-section{
    height: 1080px;
    background-color: rgb(242, 242, 242);
}

.last-section{
    height: 2000px;
}

.last-div{
    height: 85%;
    flex-flow: row wrap;
    justify-items: center;
}

.div-top{
    width: 87%;
    max-height: 25%;
}

.last-section h2{
    font-size: 3.5rem;
    text-align: center;
}

.last-section p{
    font-size: 1.35rem;
    line-height: 2.5rem;
    text-align: center;
}

.div-middle{
    width: 100%;
    height: 50%;
}

.div-bottom{
    width: 100%;
    max-height: 25%;
    background-repeat: no-repeat;
    justify-items: center;
    align-items: flex-start;
    flex-flow: row wrap;
    text-align: center;
    vertical-align: center;
}

h3{
    background-image: url(../img/stars.svg) center;
    background-size: cover;
    font-size: 2.25rem;
    text-align: center;
    line-height: 100px;
    width: 100%;
}

footer{
    height: 780px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: rgb(35, 39, 42);
    flex-wrap: wrap;
}

#footer-info{
    width: 66%;
    height: 85%;
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
}

#lang-social{
    background-color: rgb(240, 128, 128);
    width: 33.3%;
    justify-content: flex-start;
}

#site-map{
    background-color: rgb(32, 178, 170);
    width: 66.6%;
    display: flex;
    justify-content: flex-start;
}

#site-map nav{
    width: 33.3%;
    border: 1px solid grey;
}

hr{
    background-color: whitesmoke;
    width: 100%;
    height: 2px;
    margin: 10px 0px;
}

#footer-bottom{
    background-color: rgb(127, 255, 212);
    width: 66%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer-bottom div{
    padding: 5px 10px;
    background-color: rgb(255, 182, 193);
}